@model IEnumerable<DersKayitWeb.ViewModel.EnrollmentDateGroup>

@{
    ViewBag.Title = "Student Body Statistics";
}

<h2>Öğrenci Kayıt İstatistikleri</h2>

<table>
    <tr>
        <th>
            Kayıt Tarihi
        </th>
        <th>
            Öğrenci Sayısı
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.EnrollmentDate)
            </td>
            <td>
                @item.StudentCount
            </td>
        </tr>
    }
</table>