@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Yaragar Üniversitesi</h1>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Yaragar Üniversitesi'ne Hoşgeldiniz :)</h2>
        <p>
            Yaragar Üniversitesi  basit bir Asp.Net MVC 
            öğrenci ders kayıt sistemi uygulamasıdır. Bu 
            uygulamada Entity Framework-CodeFirst kullanılmıştır.
        </p>
    </div>
    
    
</div>